@model List<ResultProductDto>
@{
    ViewData["Title"] = @_localization.GetKey("Kitaplar").Value;
    Layout = "~/Views/AdminLayout/Layout.cshtml";
    int count = 0;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />

    <table class="table table-bordered table-striped">

        <tr>
            <th style="width:1%">#</th>
            <th>Ürün Adı</th>
            <th>Yazarı</th>
            <th>Ürün Stok</th>
            <th>Ürün Fiyatı</th>
            <th style="width:5%">İşlemler</th>
        </tr>

        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.ProductName</td>
                <td>@item.AuthorName</td>
                <td>@item.ProductStock</td>
                <td>@item.ProductPrice ₺</td>
                <td>
                    <button class="btn btn-danger" onclick="delProduct(@item.ProductId)">🗑️</button>
                    <a href="/Product/UpdateProduct/@item.ProductId" class="btn btn-info">✏️</a>
                </td>
            </tr>
        }

    </table>
    <a href="/Product/CreateProduct" class="btn btn-primary">Yenİ Ürün Ekle</a>

</div>

@section Scripts 
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function delProduct(productId) {
            Swal.fire({
                title: 'Emin misiniz?',
                text: "Bu işlem geri alınamaz!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Evet, sil!',
                cancelButtonText: 'Vazgeç'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/Product/DeleteProduct/' + productId;
                }
            });
        }
    </script>
}