@model List<ResultContactDto>
@{
    ViewData["Title"] = @_localization.GetKey("İletişim Bilgileri").Value;
    Layout = "~/Views/AdminLayout/Layout.cshtml";
    int count = 0;
}

<div class="container">
    <br /><br />

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th style="width:1%">#</th>
                <th>E-posta</th>
                <th>Adres</th>
                <th>Telefon</th>
                <th style="width:5%">İşlemler</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.Email</td>
                <td>@item.ContactAddress</td>
                <td>@item.PhoneNumber</td>
                <td>
                    <button class="btn btn-danger" onclick="delContact(@item.ContactId)">🗑️</button>
                    <a href="/Contact/UpdateContact/@item.ContactId" class="btn btn-info">✏️</a>
                </td>
            </tr>
        }

    </table>
    @* <a href="/Contact/CreateContact" class="btn btn-primary">Yenİ İletİşİm Gİrİşİ</a> *@

</div>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function delContact(contactId) {
            Swal.fire({
                title: 'Emin misiniz?',
                text: "Bu işlem geri alınamaz!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Evet, sil!',
                cancelButtonText: 'Vazgeç'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/Contact/DeleteContact/' + contactId;
                }
            });
        }
    </script>
}