@model List<ResultUserMailDto>
@{
    ViewData["Title"] = @_localization.GetKey("Abonelikler").Value;
    Layout = "~/Views/AdminLayout/Layout.cshtml";
    int count = 0;
}

<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.0/dist/sweetalert2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.0/dist/sweetalert2.min.js"></script>

<div class="container">
    <br /><br />

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th style="width:1%">#</th>
                <th>E-Posta Adresi</th>
                <th style="width:10%">Abonelik</th>
                <th style="width:5%">İşlemler</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.UserEmail</td>
                <td>
                    <form method="post" action="/Subscribe/SendMail/@item.UserMailId">
                        <button type="submit" class="btn btn-dark">📩 Maİl Gönder</button>
                    </form>
                </td>
                <td>
                    <button class="btn btn-danger" onclick="delSubscribe(@item.UserMailId)">🗑️</button>
                    <a href="/Subscribe/UpdateSubscribe/@item.UserMailId" class="btn btn-info">✏️</a>
                </td>
            </tr>
        }

    </table>
    <a href="/Subscribe/CreateSubscribe" class="btn btn-primary">Yenİ Maİl Ekle</a>

</div>

@if (TempData["SuccessMessage"] != null)
{
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Başarıyla Gönderildi!',
            text: '@Html.Raw(TempData["SuccessMessage"])',
            confirmButtonText: 'Tamam',
        });
    </script>
}

@if (TempData["FailMessage"] != null)
{
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Hata!',
            text: '@Html.Raw(TempData["FailMessage"])',
            confirmButtonText: 'Tamam',
        });
    </script>
}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function delSubscribe(userMailId) {
            Swal.fire({
                title: 'Emin misiniz?',
                text: "Bu işlem geri alınamaz!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Evet, sil!',
                cancelButtonText: 'Vazgeç'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/Subscribe/DeleteSubscribe/' + userMailId;
                }
            });
        }
    </script>
}